In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
params = pd.read_csv("results/params.csv", sep=',')
params

   Lambda Seed  Mu Seed  Number of iterations  Number of workers  Lambda   Mu
0           20       30                  1000                  3     0.1  0.2

In [3]:
requests = pd.read_csv("results/requests.csv", sep=',')
requests

    ArrivedAt  Processed time  Processing started  Processing finished
0           0              12                   0                   11
1           5               5                   5                    9
2          25               3                  25                   27
3          26               3                  26                   28
4          30              10                  30                   39
..        ...             ...                 ...                  ...
72        954               2                 954                  955
73        959               3                 959                  961
74        969              10                 969                  978
75        978               9                 978                  986
76        987              10                 987                  996

[77 rows x 4 columns]

In [4]:
print(f"Среднее время обработки: {requests['Processed time'].mean()}")
print(f"Среднее время ожидания: {(requests['Processing started'] - requests['ArrivedAt']).mean()}")

Среднее время обработки: 5.246753246753247
Среднее время ожидания: 0.0

In [5]:
states = pd.read_csv("results/states.csv", sep=',')
states

     Processing  Waiting  Average response time
0             1        0               0.000000
1             1        0               0.000000
2             1        0               0.000000
3             1        0               0.000000
4             1        0               0.000000
..          ...      ...                    ...
995           1        0               5.184211
996           1        0               5.246753
997           0        0               5.246753
998           0        0               5.246753
999           0        0               5.246753

[1000 rows x 3 columns]

In [6]:
print(f"Среднее время пакетов, обрабатываемых системой в момент времени: {states['Processing'].mean()}")

Среднее время пакетов, обрабатываемых системой в момент времени: 0.404